* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* body {
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #422419 74%);
    background-repeat: no-repeat;    
} */

/* Header */
.mi-logo {
    width: 100px;
    height: auto;
    padding: 4px 0;
}

.bg-color-propio {
    background-color: #DF9C16;
    background-image: linear-gradient(90deg, #DF9C16 0%, #F7A400 80%, #FFD600 99%);
}

/* Main */
/* intro1 */
.intro1__index,
.intro__page1,
.intro__page2,
.intro__page3,
.intro__page4 {
    height: 300px;
    width: auto;
    background-image: url(..//img/bg/front-view-1800px.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.intro1__items,
.intro__itemspg1,
.intro__itemspg2,
.intro__itemspg3,
.intro__itemspg4 {
    background-color:rgba(0, 0, 0, 0.35);
    text-shadow: rgb(11, 11, 11) 2px 2px 1px;    
}

.intro1__items h1,
.intro__itemspg1 h1,
.intro__itemspg2 h1,
.intro__itemspg3 h1,
.intro__itemspg4 h1 {
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    letter-spacing: 2px;
}

.intro1__items p {
    font-size: 32px;
    letter-spacing: 1px;
}

/* Media queries intro1 */

@media (max-width:768px) {
    .intro1__items h1 {
        font-size: 40px;       
    }
    
    .intro1__items p {
        font-size: 20px;
    }
}

/* Secci칩n 1 Productos */

.bg-color-seccion {
    background-color: #d9d9d9;
    background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
}

.seccion1__title,
.seccion2__title,
.seccion3__title,
.page1__title,
.pg2__title,
.pg3__title,
.pg4__title,
.pg4__subtitle {
    font-family: 'Pacifico', cursive;
}

/* Secci칩n 2 Equipo */
.seccion1__bt,
.seccion2__bt,
.seccion3__bt,
.pg2__btn,
.pg3__btn,
.pg4__btn {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    padding: 32px 0 16px 0px;   
}

.seccion1__bt a,
.seccion2__bt a,
.seccion3__bt a,
.pg2__btn a,
.pg3__btn a,
.pg4__btn a {
    background-color: black;
    min-width: 120px;
    padding: 4px 8px;
    border-radius: 7px;
    color: #E3E3E3;
    text-decoration: none;
    text-align: center;
    align-items: center;
}

.seccion1__bt a:hover,
.seccion2__bt a:hover,
.seccion3__bt a:hover,
.pg2__btn a:hover,
.pg3__btn a:hover,
.pg4__btn a:hover {
    color: black;
    background-color: #FCDEA4;
}

/* Seccion 3 ubicacion e info */
.seccion3__foto {
    width: 70%;
    height: auto;
}

/* Footer */
.info__footer h5 {
    font-family: 'Pacifico', cursive;

}

.info__footer ul li a:hover {
    color: #212529;
    text-decoration: underline;
}

/* P치gina 1: Nosotros */

.foto1__pg1 {
    width: 70%;
    height: auto;
}

/* Pagina 2: Productos */

.pg2__item {
    filter: grayscale(1);

}

.pg2__item:hover {
    filter: none;

}

/* Pagina 3: Servicios */

.contactus__pg3 {
    background-color:#DF9C16;
}

/* Animaci칩n */
@keyframes efecto {
    0% {
        background-color:#FCDEA4;
    }
    50% {
        background-color:#E3E3E3;
        transition: ease-in-out;
    }
    100% {
        background-color:#FFD600;
    }
}

.contactus__pg3 {
    background-color:#F7A400;
    animation: efecto 1s linear 0s infinite alternate;
}